.row{
	display:flex;
	flex-wrap:wrap;
}
.col-1{
	width:8.33%;
	padding:0 15px;
}
.col-2{
	width:16.66%;
	padding:0 15px;
}.col-3{
	width:25%;
	padding:0 15px;
}.col-4{
	width:33.33%;
	padding:0 15px;
}.col-5{
	width:41.66%;
	padding:0 15px;
}.col-6{
	width:50%;
	padding:0 15px;
}.col-7{
	width:58.33%;
	padding:0 15px;
}.col-8{
	width:66.66%;
	padding:0 15px;
}.col-9{
	width:75%;
	padding:0 15px;
}.col-10{
	width:83.33%;
	padding:0 15px;
}.col-11{
	width:91.66%;
	padding:0 15px;
}.col-12{
	width:100%;
	padding:0 15px;
}
.img-1{
	filter:none;
}
.img-2{
	filter:blur(5px);
}
.img-3{
	filter:brightness(25%);
}
.img-4{
	filter:contrast(10%);
}
.img-5{
	filter:drop-shadow(5px 5px gray);
}
.img-6{
	filter:grayscale(100%);
}
.img-7{
	filter:hue-rotate(50deg);
}
.img-8{
	filter:invert(100%);
}
.img-9{
	filter:opacity(30%);
}
.img-10{
	filter:saturate(5);
}
.img-11{
	filter:sepia(100%);
}
.img-12{
	filter:contrast(200%) brightness(150%);
}